{#
/**
 * content Twig Partial
 *
 */
#}

<div class="l-container">

	<h2 class="t-heading--small">Single column</h2>
	<div class="c-content">
		<div class="c-content__body">
			<p>Body here. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Aspernatur officia rem veritatis? Commodi debitis deleniti illo,
				illum iusto labore molestiae odit quam qui recusandae reiciendis
				tempore tenetur? Aperiam iusto, sunt!</p>
		</div>
	</div>

	<br><br>

	<h2 class="t-heading--small">Sidebar on left</h2>
	<div class="c-content c-content--sidebar-left">
		<div class="c-content__sidebar">
			<p>I am left sidebar. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
		</div>
		<div class="c-content__body">
			<p>Body here. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Aspernatur officia rem veritatis? Commodi debitis deleniti illo,
				illum iusto labore molestiae odit quam qui recusandae reiciendis
				tempore tenetur? Aperiam iusto, sunt!</p>
		</div>
	</div>

	<br><br>

	<h2 class="t-heading--small">Sidebar on right</h2>
	<div class="c-content c-content--sidebar-right">
		<div class="c-content__body">
			<p>Body here. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Aspernatur officia rem veritatis? Commodi debitis deleniti illo,
				illum iusto labore molestiae odit quam qui recusandae reiciendis
				tempore tenetur? Aperiam iusto, sunt!</p>
		</div>
		<div class="c-content__sidebar">
			<p>I am left sidebar. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
		</div>
	</div>
</div>
