// - - - - - - - - - - - - - - - - - - -
// - - html-text component
// No real front end parts except minimal styles.

.c-html-text {
  ul {
    @extend .s-dash;
    margin-bottom: rem-calc(30);
  }
}

.c-html-text-two-column {
  display: flex;
  flex-direction: column;
  margin: 0 0 rem-calc(15) 0;

  .column {
    &:first-child {
      margin-bottom: rem-calc(15);
    }
  }

  @include breakpoint(medium) {
    flex-direction: row;

    .column {
      margin-bottom: 0;
      width: 50%;

      &:first-child {
        padding-right: rem-calc(15);
      }
    }
  }
}
