// - - - - - - - - - - - - - - - - - - -
// - - infographic component
// Add basic info on the component here. Add more
// detailed info to this folder's README.md
// This files should be included by src/sass/components/_components.scss

.c-infographic {
  margin: rem-calc(30) 0;

  img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }

  span {
    @include sr-only;
  }
}
