{#
/**
 * @file
 * Displays html text component.
 *
 * @see uccollege_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

<div class="l-container c-content">
  <div class="c-content__body">
    {{ content }}
  </div>
</div>

