<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ entity.field_video_id|field_value|render }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<div {{ attributes }}>
    {{ entity|without('field_video_id') }}
</div>
