{#
/**
 * link-indicator Twig Partial
 *
 */
#}

<section class="l-container">
  <a href="#">
    Link Text Here
    <uc-link-indicator id="z58g45-GPsA" type="youtube-video"></uc-link-indicator>
  </a>
  <br />
  <a href="#">
    More Link Text
    <uc-link-indicator text="University of Chicago"></uc-link-indicator>
  </a>
</section>