{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 *  content - array of content values.
 *  showcase - array of showcase settings.
 *    .type - index, page or component.
 *    .template - based on path.
 *    .template_path - path to template override
 *
 */
#}

<section class="l-container">
  <div class="grid-2up">
    <div class="grid-2up__cell1">
      <img src="https://picsum.photos/595/595?image=1039" alt="">
    </div>

    <div class="grid-2up__cell2 l-padding--all">
      <h1 class="t-heading--medium">About Advising</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>

      <h2 class="t-heading--small">Quick Links</h2>
    </div>
  </div>
</section>
