{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 *  content - array of content values.
 *  showcase - array of showcase settings.
 *    .type - index, page or component.
 *    .template - based on path.
 *    .template_path - path to template override
 *
 */
#}

<section class="l-container">
  <div class="grid-1col">
    <h1>Content here</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam aspernatur consequatur dignissimos, illum labore, magni mollitia natus nihil omnis quia quod reiciendis sapiente similique suscipit velit voluptatem voluptates voluptatum.</p>
  </div>
</section>
