{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 *  content - array of content values.
 *  showcase - array of showcase settings.
 *    .type - index, page or component.
 *    .template - based on path.
 *    .template_path - path to template override
 *
 */
#}

<div class="page-node-type-home"><!--for demo purposes-->
  
  <section class="showcase__section">
    <h2>Grid, 4up</h2> 
    <p>4 up grid with image</p>
  </section>

  <section class="l-container">
    <div class="grid-4up">
      <div class="grid-4up__cell1">
        <div class="grid-4up__img">
          <img src="https://picsum.photos/595/595?image=1043" alt="">
        </div>
      </div>

      <div class="grid-4up__cell2 s-bg l-padding--all">
        <h3 class="t-heading--small">A message from Dean Boyer</h3>
        <p>The College has been providing students with a world-class education since the founding of the University of Chicago in 1890.
          About the College</p>

        <h3 class="t-heading--small">The College is here to help you succeed</h3>
        <p>Whether it’s figuring out your major with an adviser, applying for a Fulbright through the College Center for Research & Fellowships (CCRF), or studying abroad we can guide you in the right direction. Explore more in:
        </p>
      </div>

      <div class="grid-4up__cell3 l-padding">
        <h2 class="t-heading--topic">Academics</h2>
        <h1 class="t-center">Imaginitive Learning</h1>
        <p>The “Core” is intended as an introduction to the tools of inquiry used in every discipline—science, mathematics, humanities, and social sciences. </p>
      </div>

      <div class="grid-4up__cell4">
        <p>two tiles go here. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias culpa excepturi iste possimus rem? Ab culpa deserunt eum iusto numquam perspiciatis possimus quia sapiente sequi. Cum laudantium porro ullam!</p>
      </div>
    </div>
  </section>

  <section class="showcase__section">
    <h2>Grid, 4up</h2> 
    <p>4 up grid with image and image heading</p>
  </section>

  <section class="l-container">
    <div class="grid-4up">
      <div class="grid-4up__cell1">
        <div class="grid-4up__img">
          <div class="grid-4up__heading">
            <h1 class="grid-4up__heading-text">Transformative Education</h1>
          </div>
          <img src="https://picsum.photos/595/595?image=1043" alt="">
        </div>
      </div>

      <div class="grid-4up__cell2 s-bg l-padding--all">
        <h3 class="t-heading--small">A message from Dean Boyer</h3>
        <p>The College has been providing students with a world-class education since the founding of the University of Chicago in 1890.
          About the College</p>

        <h3 class="t-heading--small">The College is here to help you succeed</h3>
        <p>Whether it’s figuring out your major with an adviser, applying for a Fulbright through the College Center for Research & Fellowships (CCRF), or studying abroad we can guide you in the right direction. Explore more in:
        </p>
      </div>

      <div class="grid-4up__cell3 l-padding">
        <h2 class="t-heading--topic">Academics</h2>
        <h1 class="t-center">Imaginitive Learning</h1>
        <p>The “Core” is intended as an introduction to the tools of inquiry used in every discipline—science, mathematics, humanities, and social sciences. </p>
      </div>

      <div class="grid-4up__cell4">
        <p>two tiles go here. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias culpa excepturi iste possimus rem? Ab culpa deserunt eum iusto numquam perspiciatis possimus quia sapiente sequi. Cum laudantium porro ullam!</p>
      </div>
    </div>
  </section>

</div>