{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 *  content - array of content values.
 *  showcase - array of showcase settings.
 *    .type - index, page or component.
 *    .template - based on path.
 *    .template_path - path to template override
 *
 */
#}

{{ it_showcase_component('masthead', 0) }}

<section class="l-container">
  {% include '@uccollege/../components/headline/headline.html.twig' with {'content': content.headline} %}
</section>

<div class="l-container">
  <uc-alphalist
    endpoint="http://bsd-data.dev.uchicago.edu/api/faculty_index"
    default-department="Surgery"/>
</div>


{{ it_showcase_component('footer', 0) }}


{# <!-- department with no sections for testing -> default-department="Cancer Research"--> #}
