{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 *  content - array of content values.
 *  showcase - array of showcase settings.
 *    .type - index, page or component.
 *    .template - based on path.
 *    .template_path - path to template override
 *
 */
#}

{{ it_showcase_component('masthead', 0) }}

{% include '@uccollege/../components/feature/feature.html.twig' with {'content': content.feature} %}

<section class="l-stripe s-bg-tertiary">
  <h2 class="t-heading--medium">Our Deans</h2>
  {{ it_showcase_component('callout', 3) }}

  <a class="c-cta-link" href="#">All Deans</a>
</section>

{{ it_showcase_component('teaser', 0) }}

{{ it_showcase_component('footer', 0) }}
