{#
/**
 * @file
 * Displays a list of contact groups.
 *
 * @ingroup themeable
 */
#}

<div class="l-container">
  <div class="t-text">

    <uc-accordion-group v-cloak>
      {{ content }}
    </uc-accordion-group>

  </div>
</div>