<div class="c-flickr">
  <object
    style=""
    type="text/html"
    data="https://www.flickr.com/slideShow/index.gne?group_id=&amp;user_id={{ content.field_flickr_id|field_value }}&amp;set_id={{ content.field_photoset_id|field_value }}&amp;text="
    width="100%"
    height="640px">
  </object>
</div>
