<header role="banner">
  <a href="/" title="Home" rel="home">
    <img src="/themes/custom/uccollege/logo.svg" alt="Home">
  </a>

  <h1>
    <a href="/" title="Home" rel="home">Center for Global Health</a>
  </h1>
</header>

<main role="main">
  <h1>Site under maintenance</h1>
  Center for Global Health is currently under maintenance. We should be back shortly. Thank you for your patience.
</main>
