{#
/**
 * @file
 * Renders event content in a 'Callout View' display mode.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
{% set img = content.field_image_main %}
{% set headline = content.field_headline_text %}
{% set subhead = content.field_subheadline_text %}
{% set date = content.field_event_date %}

<a href="{{ url }}">
  {{ img }}
  <p class="c-callout__item-text">{{ headline }}</p>
  <span>{{ date }}</span>
</a>
