{#
/**
 * @file
 * Section, used in headline.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}

{% if section.display %}
<a href="{{ section.url }}" class="c-headline__topic t-heading--topic">{{ name }}</a>
{% endif %}