{#
/**
 * bighero Twig Partial
 *
 */
#}
{% set heading = content.field_headline_text %}
{% set description = content.body %}
{% set img = '/themes/custom/uccollege/it_showcase/images/gargoyle-lg.jpg' %}
{% set imgSmall = '/themes/custom/uccollege/it_showcase/images/gargoyle-sm.jpg' %}

<div class="c-bighero">
  <div class="c-bighero__text">
    {% if heading %}
      <h1 class="c-bighero__heading">{{ heading }}</h1>
    {% endif %}
    {% if description %}
      <div class="c-bighero__description">
        {% autoescape false %}
          {{ description }}
        {% endautoescape %}
      </div>
    {% endif %}
  </div>
  <picture class="c-bighero__img">
    <source media="(max-width: 768px)" srcset="{{ imgSmall }}">
    <img src="{{ img }}" alt="UChicago Gargoyle">
  </picture>
</div>
