// - - - - - - - - - - - - - - - - - - -
// - - grid
// global CSS Grid styles, with any global fallbacks

// 2-column, 2-row grid used on the homepage
.grid-4up {
  display: grid;
  grid-gap: rem-calc(10);
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "cell1"
    "cell2"
    "cell3";
  margin-bottom: rem-calc(-10);

  @include breakpoint(large) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "cell1 cell2"
      "cell3 cell4";
  }

  &__cell1 {
    grid-area: cell1;
    img {
      object-fit: cover;
    }
  }

  &__cell2 {
    grid-area: cell2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .t-heading--topic {
      margin-bottom: rem-calc(24);
    }
  }

  &__cell3 {
    grid-area: cell3;

    :last-child {
      margin-bottom: 0;
    }

    p {
      margin-top: rem-calc(7);
    }

    @include breakpoint(medium) {
      padding: 0 rem-calc(40);
    }

    @include breakpoint(large) {
      padding-bottom: rem-calc(40);
    }

    @include breakpoint(large down) {
      .c-accordion-group {
        margin-bottom: rem-calc(-2);
      }

      .c-accordion-group__wrap {
        margin-bottom: 0;
        &:last-child .c-accordion-group {
          margin-bottom: rem-calc(28);
        }
      }
    }
  }

  &__cell4 {
    display: block;
    grid-gap: 0;
    grid-auto-columns: auto;

    & .c-tile:first-child {
      margin-bottom: rem-calc(15);
    }

    @include breakpoint(400px) {
      display: grid;
      grid-gap: rem-calc(10);
      grid-template-columns: 1fr 1fr;

      & .c-tile:first-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint(large) {
      grid-area: cell4;
    }
  }

  .l-container {
    margin-bottom: 0;
  }

  &--hide-bottom-quadrants {
    grid-template-areas:
      "cell1"
      "cell2";

    @include breakpoint(large) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "cell1 cell2";
    }
  }
}

// 2-column, 1-row grid used on landing pages
.grid-2up {
  display: grid;
  grid-gap: rem-calc(10);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "cell1 cell2";
  position: relative;

  //@include breakpoint(medium) {
  //  grid-template-columns: 1fr 1fr;
  //  grid-template-areas: "cell1 cell2";
  //}

  &--nogap {
    grid-gap: 0;
    margin: 0 calc(50% - 50vw);

    @include breakpoint(large) {
      margin: 0;
    }
  }

  &__title {
    background-color: $color-bg-secondary;
    color: $color-primary;
    padding: rem-calc(53) rem-calc(20) rem-calc(20) rem-calc(20);
    grid-column: 1 / 3;

    @include breakpoint(medium) {
      padding: rem-calc(53) rem-calc(20) rem-calc(20) rem-calc(40);
    }

    @include breakpoint(large) {
      background-color: transparent;
      grid-column: 1;
      padding: rem-calc(20);
      position: absolute;
      z-index: 10;
      top: rem-calc(90);
      left: rem-calc(40);
    }
  }

  &__cell1 {
    @include proportional(100%);
    grid-area: cell1;
  }

  &__cell2 {
    grid-area: cell2;
    position: relative;
  }
}

// 1-column container, used mostly in horizontal
// stripe containers with lots of accordions
.grid-1col {
  margin: 0 auto;
  width: 100%;

  @include breakpoint(medium) {
    width: 75%;
  }
}

// 4 square cells
.grid-4sq {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));

  &__cell {
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
      font-size: rem-calc(30);
      font-weight: $font-weight-bold;
      letter-spacing: rem-calc(-1.2);
      text-decoration: none;

      span {
        display: none;
        padding: rem-calc(36);
        position: absolute;
        text-align: center;

        @include breakpoint(large) {
          display: block;
        }
      }
    }
  }
}
